{% extends 'blog/base.html' %}

{% block content %}
    <div class = "jumbotron">
        <h2> Please Login </h2>
        <h3> (must be a SuperUser, please check with the site admin)</h3>
        {% if form.errors %}
            <p> Your Username and Password did not match. Please try again. </p>
        {% endif %}

        <form action = "{% url 'login' %}" method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type = "submit" class = "btn btn-primary" value="login">
            {% comment %} views.login is going to supply next value for us  specifying what to do next once the person has logged in {% endcomment %}
            <input type = "hidden" name = "next" value= "{{next}}">
        </form>
    </div>
{% endblock content %}

